:root {
    --bg-color-sky:rgb(5, 6, 70);
    --color-soil: #dd7016;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg-color-sky);
    color: var(--color-soil);
}

footer {
    grid-area: "ftr";
    background-color: #dd16dd;
  }

aside {
    grid-area: side;
    background-color: rgb(29, 182, 15);
  }
main {
    grid-area: "content";
    background-color:var(--color-soil);
    color: var(--bg-color-sky);
}

h1 {
    color: var(--color-soil);
}

.launchList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: black;

}

#twitterfeed {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card-img-top {
    width: 50%;
    align-items: center;
    
    object-fit: cover;
}

.weather-card {
    width: 45%;
    margin: auto;
}

