:root {
    --bg-color-sky:rgb(5, 6, 70);
    --color-soil: #dd7016;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg-color-sky);
    color: var(--color-soil);
}

main {

    background-color:var(--color-soil);
    color: var(--bg-color-sky);
}

h1 {
    color: var(--color-soil);
}

.space {
    grid-row: 1/2;
    grid-column: 1/2;
}

.launchList {
    grid-row: 1/3;
    grid-column: 2/3;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    /* margin: auto; */
    /* color: black; */

}

.the-grid {
    display: grid;
    /* grid-template-columns: 1fr 30% 30%; */
    grid-template-rows: 12rem 7fr;
    padding: 2rem;


}

#twitterfeed {
    background-color: var(--color-soil);
    grid-row: 2/3;
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin: auto; */
}

.card-img-top {
    width: 50%;
    align-items: center;
    
    object-fit: cover;
}

.weather-card {
    width: 45%;
    margin: auto;
}

