:root {
    --bg-color-sky:rgb(5, 6, 70);
    --color-soil: #dd7016;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg-color-sky);
    color: var(--color-soil);
}



main {

    background-color:var(--color-soil);
    color: var(--bg-color-sky);
}

h1 {
    color: var(--color-soil);
    font-family: 'Space Mono', monospace;
}

.space {
    grid-row: 2/4;
    grid-column: 1/2;
}

#canvas {
    position: absolute;
    /* grid-area: 1/1/4/4; */
    /* z-index: 1; */
    /* background-color: fuchsia; */
}

.launchList {
    grid-row: 2/4;
    grid-column: 2/3;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    /* margin: auto; */
    /* color: black; */
    z-index: 1001;

}

.the-grid {
    display: grid;
    /* grid-template-columns: 1fr 30% 30%; */
    grid-template-rows: 20rem 12rem 7fr;
    padding: 2rem;
}

#twitterfeed {
    background-color: var(--color-soil);
    grid-row: 3/4;
    grid-column: 1/2;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
    /* justify-content: center; */
    /* margin: auto; */
}

#soil{
    background-color: var(--color-soil);
    grid-row: 3/4;
    grid-column: 1/4;
    z-index: 5;
}


.card-img-top {
    width: 50%;
    align-items: center;
    
    object-fit: cover;
}

.weather-card {
    width: 45%;
    margin: auto;
}

.deimos {
    fill: rgb(204, 165, 142);
    grid-column: 3/4;
    grid-row: 1/2;
    z-index: 1000;
}

.phobos {
    fill: rgb(168, 129, 106);
    grid-column: 2/4;
    grid-row: 1/2;
    z-index: 1;
}

.rover-tweets {
    display: none;
}

.blastoffs {
    animation: blastoff 4s infinite;
}

@keyframes blastoff {
    0%  {top:0px; left: 0px;}
    25%  {top:100px; left: 100px;}
    50% {top:200px; left:200px;}
    75% {top:400px; left:400px;}
    100%    {top:1000px; left:1000px;}
}